main{
   background-image: url("../img/backgroundmain.avif");
   background-size: cover;
}
* {
    margin: 0;
    padding: 0;
    font-family: Merriweather, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #c9c2c2;
}

html {
    box-sizing: border-box;
    font-size: 18px;
}

header {
    background-color: #564b4b;
   
}

.headerWrapper {
    align-items: center;
    background-color: #564b4b;
    display: flex;
    justify-content: space-between;
    max-width: 460px;
    margin: 0 auto;
    border-bottom: #f05f40 1px solid;
}

.titleName {
    font-size: 1.4rem;
    margin-left: 20px;
}

.titleLogo {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.heroName {
 color: #fcf8f8;
}

#mobileNav {
    display: none;
    position: fixed;
    right: 0;
    top: 10%;
    background-color: #564b4b;
    padding: 0px 0px 10px 10px;
    border-bottom-left-radius: 10px 10px;
    text-align: justify;
}

#mobileNav ul li {
    padding-top: 10px;
}

#desktopNav {
    display: none;
      padding-top: 2rem;
      padding-bottom: 2rem;
      
}

header nav ul li {
    list-style: none;
    margin-right: 30px;
   
}

header nav ul li a {
    text-decoration: none;
    color:#c9c2c2;
}



.active {
    color: #9c9696;
    font-weight: 900;
    border-bottom: 1px solid #9c9696;
    padding-bottom: 4px;
}

.copyrights {
    align-items: center;
    background-color: #564b4b;
    color: #686767;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    padding: 20px;
}

.copyrights ul {
    display: flex;
}

.copyrights ul li {
    list-style: none;
    margin-right: 30px;
}

.copyrights ul li a {
    color: #686767;
    text-decoration: none;
}

main {
    background-color: #564b4b;
}

.logo {
    width: 50%;
    margin-left: 25px;
}

.mainWrapper {
    background-color: #f05f40;
    max-width: 460px;
    margin: 0 auto;
}

.hero p {
    padding: 20px;
    color: #fcf8f8;
}

.heroName {
    font-size: 2rem;
}

.hero span {
    display: flex;
}

.hero {
    display: flex;
    justify-content: center;
    background: #564b4b;
}

footer {
    background-color: #564b4b;
    font-size: 0.8em;
}

.footerContainer {
    color: #c9c2c2;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    max-width: 460px;
    margin: 0 auto;
}
.footerContainer p {
   color: #c9c2c2;
   font-size: 0.8rem;
   
}
.footerContainer div {
   
    width: 30%;
}
.footerContainer h3 {
   color: #c9c2c2;
}

.footerJobs {
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.footerContact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.footerLogo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.footerContainer ul li {
    list-style: none;
}

.footerContainer a {
    color:#c9c2c2;
    text-decoration: none;
}


.footerContainer li {
   color: #c9c2c2;
}
.footerContainer h4 {
   color: #c9c2c2;
}
.copyrights div {
   color: #c9c2c2;
}

.footerContainer h4 {
    margin-top: 10px;
    margin-bottom: 40px;
}

#menuIcon {
    margin-right: 25px;
}

h2 {
   color: #fcf8f8;
   font-size: 30px;
   font-family: Merriweather, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   letter-spacing: 2px;
  

}
h3 {
   color: #fcf8f8;
   font-size: 20px;
   font-family: Merriweather, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 10px 5px 20px 0px;
}
h4 {
   color: #fcf8f8;
   font-size: 20px;
   font-family: Merriweather, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 10px 5px 20px 0px;
}

h5 {
   color: #fcf8f8;
   font-size: 20px;
   font-family: Merriweather, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h6 {
   color:#fcf8f8;
}

.recensies p {
   color: #c9c2c2;
} 
body {
    font-family: Merriweather, Arial, sans-serif;
    font-size: 20px;
    color: #c9c2c2;
    font-weight: 450;
    line-height: 1.4;
}

.OverWrapper {
    background-color: #999;
    max-width: 460px;
    margin: 0 auto;
}

#pagewrapper {
    margin: 0 auto;
    max-width: 100%;
}

.activeMobile {
    color: rgb(119, 132, 247);
}

#desktopNav,
#mobileNav {
    color:#c9c2c2;
}

@media (min-width: 760px) {
    #menuIcon {
        display: none;
    }
    #desktopNav {
        display: flex;
    }
    #desktopNav ul {
        display: flex;
    }
    #mobileNav {
        display: none;
    }
    .footerContainer div {
        padding-top: 10px;
        width: 30%;
    }
    .footerJobs {
        display: flex;
    }
    .OverWrapper {
        max-width: 760px;
    }
    .footerContainer {
        max-width: 760px;
    }
    .mainWrapper {
        max-width: 760px;
    }
    .headerWrapper {
        max-width: 760px;
    }
 
}

@media (min-width: 960px) {
    .OverWrapper {
        max-width: 960px;
    }
    .footerContainer {
        max-width: 960px;
    }
    .mainWrapper {
        max-width: 960px;
    }
    .headerWrapper {
        max-width: 960px;
    }
}
