

input {
    display: block;
}

.img{
    text-align: center;
}
form h3 {
    padding: 10px 0px;
}
header img {
    display: block;
    max-width: 50%;
    padding: 10px;
 }
label {

    color:#564b4b;
    font-size: 0.7rem;
}

select {
    color: #c9c2c2;
    display: block;
}

.wrapperAdres {
    display: flex;
}

.wrapperAdres div {
    margin-right: 10px;
}

.wrapperAdres div:last-child {
    margin-right: 0px;
}

.formWrapper {
    display: flex;
    flex-direction: column-reverse;

}

button {
    color:  #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin: 50px 0px;
    background-color: #80b6e4;
}

@media (min-width: 760px) {
    .formWrapper {
        flex-direction: row;
        justify-content: space-around;
    }
}
