header img {
    display: block;
    max-width: 50%;
    padding: 10px;
 }


input {
    display: block;
}

form h3 {
    padding: 10px 0px;
}

label {
    color: rgb(6, 19, 73);
    font-size: 0.7rem;
}

select {
    color: rgb(6, 19, 73);
    display: block;
}

.wrapperAdres {
    display: flex;
}

.wrapperAdres div {
    margin-right: 10px;
}

.wrapperAdres div:last-child {
    margin-right: 0px;
}

.formWrapper {
    display: flex;
    flex-direction: column-reverse;

}

button {
    color: rgb(6, 19, 73);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px 0px;
}

@media (min-width: 760px) {
    .formWrapper {
        flex-direction: row;
        justify-content: space-around;
    }
}
