header img {
   display: block;
   max-width: 50%;
   padding: 10px;
}

body {
   flex: auto;
}
.leden {
   text-align: center;
}
.leden img{
   max-width: 250px;
   max-height: 350px;
}
.leden p{
   color:#80b6e4;
}
.leden h2{
   font-size: 40px;
   text-decoration: wavy;
}

.overfoto{
   text-align: center;
   margin-top: 50px;
}

.sponsors img {
   height: 200px;
   max-width: 35%;
   width: 100%; /* Make sure the image takes up the full width of its container */
   height: auto; /* Allow the image to adjust its height proportionally */
   margin: 10px 5px 10px 5px;
 }


.overons {
   margin-top: 5px; /* Optionele marge aan de bovenkant toevoegen */
 }

.leden {
   margin-top: 50px; /* Optionele marge aan de bovenkant toevoegen */
   padding: 1%;
}

img {
max-width: 100%;
}

.leden p {
margin-bottom: 10px;
}

.overons p {
   margin-bottom: 10px;
   }
